.body{
    background-color: white;
}
body::-webkit-scrollbar {
    display: none;
}
.left{
    margin-left: 20px;
}
.Nd{
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 15px 0px 0px 0px;
}
.d-flex{
    margin-left: 1150px;
}
.anh{
    text-align: center;
}
.footer{
    background-color: black;
}
.text{
    width: 30%;
}
.h{
    color: darkred;
}
.p{
    font-size: 20px;
}
.p1{
    color: blue;
    font-size: 18px;
}
.totop{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 200px;
    background-color: #2572cb;
    color: white;
    margin-left: 1300px;
    transition: width 2s;
    transition: transform 0.7s; 
    transform: translateY(0.1in);
}
.totop:hover{
    transition: transform 0.7s; 
    transform: rotate(360deg);
    box-shadow: 0 0 5px white,
              0 0 10px black,
              0 0 5px black,
              0 0 10px black;
}  
.footer4{
    display: flex;
    margin-left: 400px;    
}    
.footer3{
    color: #fcc2d7;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img-footer{
    margin-left: 445px;
    color: white;
}
.note{
    text-align: center;
    color: white;
}
.note1{
    margin-left: 400px;
}
.USEFUL{
    color: white;
}