body::-webkit-scrollbar {
    display: none;
  }
nav{
    background-color: white;
}
.nav1{
    color: #05498f;
    font-family: 'Playfair Display', serif;
    text-align: center;
    height: 170px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.nav2{
    margin-left: 160px;
    display: flex;
}
.nav21{
    margin-left: 30px;
    height: 470px;
    width: 420px;
    background-color: antiquewhite;
}
.nav-h{
    padding: 20px;
    text-align: center;
}
.nav-a{
    font-size: 20px;
    color: #05498f;
}
.carousel-item{
    height: 470px;
    width: 500px;
}
.nav3{
    margin-left: 160px;
    width: 500px;
    text-align: justify;
}
.nav31{
    width: 800px;
}
.nav32{
    width: 800px;
    height: 470px;
    border-radius: 2px;
}
.center{
    margin-top: 5px;
    text-align: center;
    color: grey;
    font-size: 18px;
}
.nav33{
    font-size: 20px;
}
.footer4{
    display: flex;
    margin-left: 400px;
}    
.footer3{
    color: darkgoldenrod;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img-footer{
    margin-left: 400px;
}
.note{
    text-align: center;
}
.note1{
    margin-left: 400px;
}
.totop{
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 200px;
    background-color: #2572cb;
    color: white;
    margin-left: 1330px;
    transition: width 2s;
    transition: transform 0.7s; 
    transform: translateY(0.1in);
}
.totop:hover{
    transition: transform 0.7s; 
    background-color: goldenrod;
} 
footer{
    color: white;
    background-color: black;
}