.body{
    margin: 0;
    text-align: center;
}
.header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vietnam{
    position: absolute;
    margin-top: 200px;
    margin-left: 280px;
    width: 1000px;
    height: 300px;
    text-align: center;
    font-size: 100px;
    color: white;
}
.img{
    margin-left: 980px;
}
.tre{
    height: 200px;
    width: 730px;
    margin: 0 auto;
    color: grey;
    font-size: 22px;
}
.p-orgin{
    margin-left: 392px;
    color: #9e0b0f;
    font-size: 20px;
}
.orgin{
    margin: 0 auto;
    text-align: center;
}
.orgin1{
    width: 730px;
    margin: 0 auto;
    font-size: 16px;
}
.sign-up{
    text-align: center;
    font-size: 18px;
    width: 730px;
    margin-left: 395px;
}
.footer{
    background-image: url(https://vietnam.travel/themes/custom/vietnamtourism/images/bg-red-pattern.png);
    height: 600px;
}
.footer1{
    font-size: 44px;
    text-align: center;
    color: white;
}
.footer2{
    text-align: center;
}
.Read1{
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
    border: none;
    transition: width 2s;
    transition: transform 0.7s; 
    transform: translateY(0.1in);
}
.Read1:hover{
    background-image: linear-gradient(to bottom right, red, orange, yellow, green, cyan, blue, blueviolet);
    transition: transform 0.7s; 
    transform: rotate(360deg);
    box-shadow: 0 0 5px white,
              0 0 10px black,
              0 0 5px black,
              0 0 10px black;
}     
.Read2{
    text-align: center;
    margin-top: 20px;
    color: white;
    position: absolute;
    width: 400px;
    font-family: "museo","Museo Cyrillic",verdana;
    font-size: 16px;
    margin-left: 180px;
}         
.Read3{
    text-align: center;
    margin-top: 20px;
    color: white;
    position: absolute;
    width: 300px;
    font-family: "museo","Museo Cyrillic",verdana;
    font-size: 16px;
    margin-left: 610px;
}    
.Read4{
    margin-top: 20px;
    color: white;
    position: absolute;
    width: 300px;
    font-family: "museo","Museo Cyrillic",verdana;
    font-size: 16px;
    margin-left: 985px;
}    
.footer4{
    display: flex;
    margin-left: 400px;    
}    
.footer3{
    color: darkgoldenrod;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img-footer{
    margin-left: 400px;
}
.note{
    text-align: center;
}
.note1{
    margin-left: 400px;
}
